@import "./css-reset.scss";

/* Colors **/
$darkGrey: hsl(0, 0%, 63%);
$black: hsl(0, 0%, 0%);
$white: hsl(0, 0%, 100%);
$veryDarkGrey: hsl(0, 0%, 27%);

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
a {
  font-family: "Spartan", sans-serif;
}

a {
  text-transform: uppercase;
}

.copy-wrapper {
  background-color: $white;
  padding: 19% 8%;
}

.copy-header {
  font-weight: 600;
  font-size: 28px;
}

.copy-text {
  font-size: 12px;
  line-height: 20px;
  color: $darkGrey;
}

.cta-link {
  display: inline-block;
  margin-top: 52px;
  font-size: 12px;
  line-height: 133%;
  letter-spacing: 10px;
  &::after {
    content: url(./images/icon-arrow.svg);
    font-size: 24px;
    margin-left: 20px;
  }
}

.about-header {
  font-size: 12px;
  line-height: 183%;
  text-transform: uppercase;
  letter-spacing: 5px;
}

/* Media queries **/
@media only screen and (min-width: 1440px,) {
}

/* Header styles **/
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
