@import "./css-reset.scss";

/* Colors **/
$darkGrey: hsl(0, 0%, 63%);
$black: hsl(0, 0%, 0%);
$white: hsl(0, 0%, 100%);
$veryDarkGrey: hsl(0, 0%, 27%);

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
a {
  font-family: "Spartan", sans-serif;
}

a {
  text-transform: uppercase;
}

.copy-wrapper {
  background-color: $white;
  padding: 40px 20px;
}

.copy-header {
  font-weight: 600;
}

.copy-text {
  font-size: 12px;
  line-height: 1.75em;
  color: $darkGrey;
}

.about-header {
  text-transform: uppercase;
}

/* Media queries **/
@media only screen and (min-width: 1440px,) {
}
